.DS_Store
*~
*#
CMakeCache.txt
*/CMakeCache.txt
*/*/CMakeCache.txt
CMakeFiles
*/CMakeFiles
*/*/CMakeFiles
CMakeFiles/*
*/CMakeFiles/*
*/*/CMakeFiles/*
*/*/bin/*
Doxyfile-html
*/Doxyfile-html
*/*/Doxyfile-html
*/*/*/Doxyfile-html
cmake_install.cmake
*/cmake_install.cmake
*/*/cmake_install.cmake
CPackConfig.cmake
*/CPackConfig.cmake
*/*/CPackConfig.cmake
CPackSourceConfig.cmake
*/CPackSourceConfig.cmake
*/*/CPackSourceConfig.cmake
CTestTestfile.cmake
*/CTestTestfile.cmake
*/*/CTestTestfile.cmake
Makefile
*/Makefile
*/*/Makefile
*/DartConfiguration.tcl
.cproject
*/.cproject
*/*/.cproject
.project
*/.project
*/*/.project
.gitignore
Bapcod/bcBapcodVersion.h
*/*/random*
*/*/*.log
